<h1>トップページ</h1>
<%= link_to '新規投稿', '/posts/new' %>
<% @posts.each do |post| %>
  <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>
　<!-- カラムの情報を抜かすと番地情報が表示されることになる。-->

<!--画面上に表示をさせなくても良いRuby記法（if文や、each文など）は、=を抜いて<% %>で囲います。-->

